.backgroundExternal{
    background-image:url('./images/business.jpg');
    background-size:cover;
    background-position:center;
    height:50vh;
    width:100%;
    background-color:rgb(232, 27, 27);
    color:white;
    padding:5rem;
    opacity: 0.8;
    text-align: center;
    font-size: 3rem;
}

.specialParag{
    background-color: black;
    opacity: 0.8;
    margin-top:3rem;
    box-shadow: 0.5px 0.5px 5px 2px rgba(233, 231, 231, 0.8);
    }